.App {
  /* text-align: center; */
}

.recipe-picture{
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.recipe-name{
  padding: 16px;
  font-size: 30px;
}
.recipe-container{
  background:white;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.2s;
}
.recipe-container:hover{
 transform: scale(1.2);
}
.recipe-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}
body{
  background: whitesmoke;
  font-family: 'Lobster', cursive;
}
.no-recipes-content{
  font-size: 40px;
  text-align: center;
}